body{
	background-color: #CCC;
}

#content{
	padding:5%;
	margin: auto;
	width:60%;
	height:100%;
	background-color:white;
	border: 1pt solid black;
}

#safechat{
	font-style: italic;
	font-family: Lucida Bright, serif;
}