<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="chatstyle.css" />

	<script src="jquery-3.4.1.min.js"></script>

	<script src="chat.js"> </script>

</head>

<body onload="setInterval(loadDoc, 2000);">

	<br><br>

	<div id="main">

	<h3>
		The ID of this Chatroom is: <input type="text" id="chatroom_id" value="<%= chatroom %>" readonly>
	</h3>

	<div id="chatbox"> </div>

	<br><br>

	<input type="text" id="msg" placeholder="Type Your Message!">
	<button id="send_message" onclick="send_message()"> SEND </button><br>
	<input type="text" id="key" placeholder="Enter Secret Key Here!">
	<input type="text" id="usr" placeholder="Your Preferred Username"><br><br>
	</div>
</body>
</html>
