<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>

	<style>
		body{
			background-color:#CCC;
		}

		#chatbox{
			width: 40%;
			height: 50%;
			border: 1pt solid black;
			background-color: white;
	}
	</style>

</head>

<body>

	<h3>
		The ID of this Chatroom is:
	</h3>

	<div id="chatbox"> <%=msg %> </div>

	<input type="text" id="chat_text" placeholder="Type Your Message!">
	<button id="send_message"> SEND </button>
</body>
</html>
