<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>

	<style>
		body{
			background-color:#CCC;
		}

		#chatbox{
			width: 40%;
			height: 50%;
			border: 1pt solid black;
			background-color: white;
	}
	</style>

	<script src="jquery-3.4.1.min.js"></script>

	<script>
		function send_message(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
				}
			};
			var msg = document.getElementById('msg').value;
			var usr = document.getElementById('usr').value;
			var str = "msg=" + msg + "&usr=" + usr;
			xhttp.open("POST", "/snd", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(str);
		}
	</script>

</head>

<body>

	<h3>
		The ID of this Chatroom is:
	</h3>

	<div id="chatbox"> <%=chatroom %> </div>

	<input type="text" id="msg" placeholder="Type Your Message!">
	<input type="text" id="usr" placeholder="Your Preferred Username">
	<button id="send_message" onclick="send_message()"> SEND </button>
</body>
</html>
