<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>

	<style>
		body{
			background-color:#CCC;
		}

		#chatbox{
			width: 40%;
			height: 50%;
			border: 1pt solid black;
			background-color: white;
	}
	</style>

	<script src="jquery-3.4.1.min.js"></script>

	<script>
		function send_message(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
				}
			};
			var msg = document.getElementById('msg').value;
			var usr = document.getElementById('usr').value;
			var d = new Date();
			var str = "msg=" + msg + "&usr=" + usr + "&d=" + d.toString() + "&id=test";
			xhttp.open("POST", "/snd", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(str);
		}

		function loadDoc() {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					formatChatbox(this.responseText);
				}
			};
			xhttp.open("POST", "/upd", true);
			xhttp.send(); 
		}

		function formatChatbox(messages){
			var msgJSON = JSON.parse(messages);
			var txt = "";
			for(var row in msgJSON){
				if(msgJSON.hasOwnProperty(row)){
					txt += msgJSON[row].usr + ", " + msgJSON[row].d + " : " + msgJSON[row].msg + "<br>";
				}
			}
			document.getElementById("chatbox").innerHTML = txt;
		}
	</script>

</head>

<body onload="setInterval(loadDoc, 3000);">

	<h3>
		The ID of this Chatroom is: <input type="text" id="id" placeholder="<%= chatroom %>">
	</h3>

	<div id="chatbox"> </div>

	<input type="text" id="msg" placeholder="Type Your Message!">
	<input type="text" id="usr" placeholder="Your Preferred Username">
	<button id="send_message" onclick="send_message()"> SEND </button>
</body>
</html>
