<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>

	<style>
		body{
			background-color:#CCC;
		}

		#chatbox{
			width: 40%;
			height: 50%;
			border: 1pt solid black;
			background-color: white;
	}
	</style>

	<script src="jquery-3.4.1.min.js"></script>

	<script>
		function send_message(){
			$.post("snd",
			{
				msg: "Donald Duck",
				usr: "Duckburg"
			},
			function(data, status){
				alert("Data: " + data + "\nStatus: " + status);
			});
		}
	</script>

</head>

<body>

	<h3>
		The ID of this Chatroom is:
	</h3>

	<div id="chatbox"> <%=chatroom %> </div>

	<input type="text" id="msg" placeholder="Type Your Message!">
	<input type="text" id="usr" placeholder="Your Preferred Username">
	<button id="send_message" onclick="send_message()"> SEND </button>
</body>
</html>
