<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<form action="chat" method="post">
		<input type="text" placeholder="chatroom name" name="chatroom">
		<input type="text" placeholder="key" name="key">
		<input type="submit">
	</form>

</body>
</html>
