<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<form action="">
		<input type="text" placeholder="chatroom name" name="chatroom">
		<input type="text" placehodler="key" name="key">
		<input type="submit">
	</form>

</body>
</html>
