<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" type="text/css" href="chatstyle.css" />

	</head>

	<body>

		<div id="content">
			<h3> Enter your Chatroom ID below to begin! </h3>
			<form action="chat" method="post">
				<input type="text" placeholder="Enter the Chatroom ID" name="chatroom">
				<input type="submit" text="Enter the Chat!">
			</form>
		</div>

	</body>
</html>
