<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
	<style>
		body{
			background-color: #CCC;
		}

		#content{
			padding:5%;
			margin:5%;
			width:60%;
			height:100%;
			background-color:white;
			border: 1pt solid black;
		}
	</style>
	</head>

	<body>

		<div id="content">
			<h3> Enter your Chatroom ID below to begin! </h3>
			<form action="chat" method="post">
				<input type="text" placeholder="Enter the Chatroom ID" name="chatroom">
				<input type="submit" text="Enter the Chat!">
			</form>
		</div>

	</body>
</html>
